<!DOCTYPE html>
<html>
  <body>
    <h2>Login Alert</h2>
    <p>Hello <%= name %>,</p>
    <p>You just logged in from <strong><%= device %></strong> at <strong><%= location %></strong>.</p>
    <p>If this wasn't you, please secure your account immediately.</p>
  </body>
</html>
